<h1>Hello
    <%=name%>
</h1>
<p>
    <%=stories.title%>
</p>
<p>
    <%=stories.body%>
</p>

<p>BY
    <a href="/posts/user/<%=stories.user._id%>">
        <%=stories.user.name%>
    </a>
</p>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>